* {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.myUL {
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

ul>li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    visibility: hidden;
    color: red;
    /* font-weight: bold; */
}

li:hover .btn {
    visibility: visible;
    color: red;
    font-weight: bold;
}

li:nth-child(even) {
    background-color: lightcyan;
}

.myCheck {
    margin: 0 20px;
}

.lastRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}