* {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.myUL {
    width: 300px;
    margin: 30px auto;
    list-style-type: none;
    padding: 0;
}

ul>li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: none
}

li:hover .btn {
    display: block;
}